<header id="header" *ngIf="isHeader">
  <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
    <div class="container headercontent">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only" [translate]="'navigate'">Switch navigation
          </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/logonew1.svg" alt="website logo">
          <span class="logo_text">Agricontrol</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="main-li"><a routerLink="/login" [translate]="'Registration'">Registration
            </a></li>
          <li class="main-li">
            <select [(ngModel)]="selectedLanguage" (change)="changedLanguage()">
              <option value="en">English</option>
              <option value="de">German</option>
              <option value="fr">French</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="pageHead"></div>
<div class="pageHead white-box faq-block">
  <div class="row">
    <div class="row border-bottom" id="faqHeader">
      <div class="col-md-9">
        <h1 [translate]="'faq'">frequently asked Questions
        </h1>
      </div>
      <div class="col-md-3">
        <div class="search-block">
          <input type="text" class="form-control" (input)="filterContent()" placeholder="Search" type="text"
            name="search" [(ngModel)]="searchText" autocomplete="off">
          <i class="glyphicon glyphicon-search" *ngIf="!isSearch"></i>
          <i class="glyphicon glyphicon-remove cursor-pointer" (click)="clearSearch()" *ngIf="isSearch"></i>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row faq-block-sec">
        <div class="col-md-4 sticky-sidebar">
          <nav class="navigation" id="mainNav">
            <ol id="#list">
              <li *ngFor="let menu of filtersideBar"><a class="navigation__link cursor-pointer"
                  (click)="gotoDiv(menu.route)" innerHTML="{{ menu.title | highlight : searchText}}"></a>
                <img src="assets/images/chevron-right.svg" [id]="menu.route + '_active'" style="display:none;" />
                <ol>
                  <li *ngFor="let submenu of menu?.childMenu"><a class="navigation__link cursor-pointer"
                      (click)="gotoDiv(submenu.route)" innerHTML="{{ submenu.title | highlight : searchText}}"></a>
                    <img src="assets/images/chevron-right.svg" [id]="submenu.route + '_active'"
                      style="display:none;" />
                  </li>
                </ol>
              </li>

            </ol>
          </nav>
        </div>
        <div class="col-md-8" id="faqContent" style="padding: 0px;">
          <div class="page-section hero" *ngFor="let content of contents" [id]="content.route">
            <h2 innerHTML="{{ content.title | highlight : searchText}}"></h2>
            <p innerHTML="{{ content.content | highlight : searchText}}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>