@import "../variables.component.scss";
.logo_header {
  background: $Whitecolor;
  border-radius: 50%;
  width: 9%;
  margin: 0px auto;
  padding: 24px;
  height: 10%;
  position: relative;
  z-index: 9999;
  margin-top: 4em;
  a {
    text-decoration: none;
    .logosection {
      margin: 0px auto;
      display: inline;
      width: 42px;
    }
    span {
      font-size: 31px;
      color: $primary-color;
      font-weight: 700;
      padding-left: 10px;
    }
  }
}

.login-icon {
  text-align: center;
  margin-left: 7px;
  margin-top: 4em;
  .login-icon-img {
    margin: auto;
    position: relative;
    z-index: 9999;
    width: 90px;
    height: 90px;
  }
}

.registerationSection {
  margin-top: -2.5em;
  padding: 1em 2em 2em;

  #registerform {
    fieldset {
      background: $Whitecolor;
      border: 0 none;
      border-radius: 0px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
      padding: 20px 30px;
      box-sizing: border-box;
      width: 90%;
      margin: 0 5%;
      position: relative;

      p {
        margin-bottom: 0.6em;
        color: $secondary-color;
        font-size: $defaultFontSize;
        font-weight: $semiboldFontWeight;
        line-height: 1.5;
      }

      .action-button {
        width: 30%;
        background: #4a9fd6;
        font-weight: $boldFontWeight;
        color: $Whitecolor;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
        display: inline;
        font-size: $defaultFontSize;
        line-height: 1.5;

        &:hover {
          box-shadow: 0 0 0 2px $Whitecolor, 0 0 0 3px #4a9fd6;
          outline: 0;
        }

        &:focus {
          box-shadow: 0 0 0 2px $Whitecolor, 0 0 0 3px #4a9fd6;
          outline: 0;
        }
      }

      .form-control {
        border-radius: 20px;
        height: 40px;
      }

      .buyTxt {
        color: $secondary-color;
        line-height: 1.5;
      }

      .error {
        font-size: $smallFontSize;
        color: #dc3545;
        width: 100%;
        text-align: right;
        padding-left: 6%;
        line-height: 1.5;
      }

      .planContainer {
        display: flex;
        flex-wrap: wrap;
        margin: 1em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        .plan {
          background: #f1f1f1;
          width: 17em;
          box-sizing: border-box;
          text-align: center;
          margin-bottom: 1em;

          .bluebackground {
            background: #b5b5b5;
          }

          .titleContainer {
            background-color: #dedede;
            padding: 1.4em;

            .title {
              font-size: $smallFontSize;
              color: $primary-color;
              font-weight: $semiboldFontWeight;
              line-height: 1.1;
            }

            .price {
              font-size: 1.45em;
              padding-top: 1em;
              padding-bottom: 0.25em;
              color: $Whitecolor;
              font-weight: $semiboldFontWeight;
              margin-top: 0;
              display: inline-block;
              width: 80%;
              line-height: 1.5;

              p {
                font-size: $headingFontSize;
                display: inline-block;
                margin: 0;
                color: $primary-color;
                line-height: 1.5;
              }

              span {
                font-size: $defaultFontSize;
                display: inline-block;
                color: $primary-color;
                line-height: 1.5;
              }
            }

            .descTxt {
              font-size: $smallFontSize;
              font-weight: $semiboldFontWeight;
              color: $primary-color;
              line-height: 1.5;
            }
          }

          .infoContainer {
            padding: 1em;
            color: #2d3b48;
            box-sizing: border-box;

            .desc {
              padding: 1em 0;
              border-bottom: 2px solid #efefef;
              margin: 0 auto;
              width: 90%;
            }
          }
        }
      }

      .resendbtn {
        cursor: pointer;
        font-weight: $boldFontWeight;
        line-height: 1.1;
      }

      .resendEmail {
        font-weight: $boldFontWeight;
      }

      .login {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: $semiboldFontWeight;
        color: $primary-color;
        line-height: 1.5;
      }

      .login a {
        text-decoration: none;
        color: #4a9fd6;
      }

      .mt-10 {
        margin-top: 10px;
      }

      .mb-15 {
        margin-bottom: 15px;
      }

      .mb-3 {
        margin-bottom: 3px;
      }

      .mb-23 {
        margin-bottom: 23px;
      }

      label {
        font-weight: $semiboldFontWeight;
        padding: 0 12px;
        font-size: $defaultFontSize;
      }

      .whitetext {
        color: $Whitecolor;
      }

      &:not(:first-of-type) {
        display: none;
      }
    }
  }
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  li {
    list-style-type: none;
    color: #575757;
    text-transform: capitalize;
    width: 29.33%;
    position: relative;
    text-align: center;
    font-size: $smallFontSize;
    font-weight: $semiboldFontWeight;
    line-height: 1.1;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 42px;
      height: 42px;
      line-height: 13px;
      display: block;
      font-size: 12px;
      color: #fff0;
      background: inherit;
      border-radius: 25px;
      margin: 0 auto 10px auto;
      background-image: url(../../assets/images/r1.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background: #ccc;
      position: absolute;
      left: -50%;
      top: 22px;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active:before {
      background: #619c6c;
      color: #ffffff00;
      background-image: url(../../assets/images/r2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.active:after {
      background: #619c6c;
      color: #ffffff00;
    }
  }
}

.checkbox {
  label {
  //display: block;
  position: relative;
  padding-left: 27px !important;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: $defaultFontSize;
  user-select: none;
  

  input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
          
      &:checked { 
          ~ .checkmark {
          background-color: #2196F3;

              &:after {
                  display: block;
              }
          }
      }                    
  }

  .checkmark {
      position: absolute;
      top: 3px;
      left: 0px;
      height: 16px;
      width: 16px;
      background-color: #73b680;
      //margin: 2px -11px;
      &:after {
          content: "";
          position: absolute;
          display: none;
      }
      &:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          // -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
  }
}
}




@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
  }
  .planContainer .plan {
    width: 100%;
    margin: 1em 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  #registerform fieldset {
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 991px) {
  #registerform .action-button {
    width: 100%;
    margin-left: 0;
  }
  .login {
    text-align: center;
  }
}

::ng-deep {
  .black-overlay {
    position: fixed;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-toggle {
    margin-top: 14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .registerationSection #registerform fieldset .action-button {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .registerationSection #registerform fieldset .action-button {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .registerationSection {
    padding: 1em 0em 2em;
  }
  .registerationSection #registerform fieldset {
    width: 100%;
    margin: 0px;
    padding: 20px 5px;
  }
}

@media only screen and (min-width: 461px) and (max-width: 800px) {
  .registerationSection {
    margin-top: -2.3em;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .registerationSection #registerform fieldset {
    padding: 20px 2px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1224px) {
  .registerationSection #registerform fieldset {
    padding: 20px 2px;
  }
  .registerationSection #registerform fieldset .planContainer .plan {
    width: 15em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .registerationSection #registerform fieldset .planContainer .plan {
    width: 100%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 460px) {
  .registerationSection {
    margin-top: -2em;
  }
  .registerationSection #registerform fieldset {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .login-icon .login-icon-img {
        width: 70px;
        height: 70px;
   }
   .registerationSection{
     padding:0em; 
   }
   .registerationSection #registerform fieldset {
    width: 96%;
    margin: 0 2%;
    }
    .checkbox label {
      position: relative;
      padding-left: 17px !important;
    }
}
