<div class="col-md-12 text-center login-icon">
  <a routerLink="/">
    <img src="assets/images/login_icon.png" class="img-responsive login-icon-img" alt="website logo">
  </a>
</div>
<div>
  <div class="col-md-12 registerationSection">
    <div class="row">
      <div class="col-md-12">
        <form id="registerform" [formGroup]="registerForm">
          <fieldset *ngIf="showAbtTab">
            <h1 class="text-center pagetitle" [translate]="'register_head'">Einen neuen Account erstellen
            </h1>
            <p class="text-center" [translate]="'register_title'">
              Es dauert nur 30 Sekunden
            </p>
            <div class="error-message alert alert-danger" *ngIf="isError">
              {{errorMessage}}
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <label [translate]="'name'">Name</label>
                <div
                  [ngClass]="(registerForm.controls.name.errors && registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)) ? 'mb-3' : 'mb-23' ">
                  <input (blur)="Validationname()" (input)="ValidationErrorname()" type="text" class="form-control"
                    formControlName="name" maxlength="50">
                </div>
                <div *ngIf="isErrorname">
                  <div
                    *ngIf="registerForm.controls.name.errors && registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
                    class="error">
                    <span *ngIf="registerForm.controls.name.errors.required" [translate]="'field_required'"
                    [translateParams]="{fieldname : 'name' | translate }">Name ist erforderlich
                    </span>
                    <span *ngIf="registerForm.controls.name.errors.maxlength" [translate]="'field_max_length'"
                    [translateParams]="{fieldname : 'name' | translate, length : 50 }">Der Name darf nicht länger als 50 Zeichen
                      sein
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label [translate]="'email'">E-Mail</label>
                <div
                  [ngClass]="(emailUnique || (registerForm.controls.email.errors && registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched))) ? 'mb-3' : 'mb-23' ">
                  <input (blur)="Validationemail()" (input)="ValidationErroremail()" type="text" class="form-control"
                    formControlName="email" maxlength="50" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                <div *ngIf="isErroremail">
                  <div
                    *ngIf="registerForm.controls.email.errors && registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
                    class="error">
                    <span *ngIf="registerForm.controls.email.errors.required" [translate]="'required_email'">E-Mail ist erforderlich
                    </span>
                    <span *ngIf="registerForm.controls.email.errors.maxlength" [translate]="'maxlength_email'">Die E-Mail darf nicht länger als 50
                      Zeichen sein
                    </span>
                    <span *ngIf="registerForm.controls.email.errors.pattern" [translate]="'incorrect_email'">E-Mail sollte eine gültige E-Mail-Adresse
                      sein
                    </span>
                  </div>
                </div>
                <div *ngIf="emailUnique" class="error" [translate]="'already_registerd_email'">Diese E-Mail-Adresse ist bereits registriert.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <label [translate]="'password'">Passwort</label>
                <div
                  [ngClass]="(registerForm.controls.password.errors && registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)) ? 'mb-3' : 'mb-23' ">
                  <input (blur)="Validationpwd()" (input)="ValidationErrorpwd()" type="password" class="form-control"
                    formControlName="password" minlength="6" maxlength="25">
                </div>
                <div *ngIf="isErrorpwd">
                  <div
                    *ngIf="registerForm.controls.password.errors && registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
                    class="error">
                    <span *ngIf="registerForm.controls.password.errors.required" [translate]="'required_password'">Passwort wird benötigt
                    </span>
                    <span *ngIf="registerForm.controls.password.errors.minlength" [translate]="'minlength_password'">Passwort muss mindestens 6 Zeichen
                      lang sein
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label [translate]="'confirm_password'">Passwort bestätigen</label>
                <div
                  [ngClass]="(registerForm.errors || (registerForm.controls.confirmPassword.errors && registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched))) ? 'mb-3' : 'mb-23' ">
                  <input (blur)="Validationconfirm()" (input)="ValidationErrorconfirm()" type="password"
                    class="form-control" formControlName="confirmPassword" minlength="6" maxlength="25">
                </div>
                <div *ngIf="isErrorconfirm">
                  <div
                    *ngIf="registerForm.controls.confirmPassword.errors && registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)"
                    class="error">
                    <span *ngIf="registerForm.controls.confirmPassword.errors.required" [translate]="'field_required'"
                    [translateParams]="{fieldname : 'confirm_password' | translate }">Passwort bestätigen ist
                      erforderlich
                    </span>
                    <span *ngIf="registerForm.controls.confirmPassword.errors.minlength" [translate]="'confirm_password_max_length'">Das Passwort muss aus
                      mindestens 6 Zeichen bestehen
                    </span>
                  </div>
                </div>
                <div *ngIf="registerForm.errors" class="error">{{ registerForm.errors?.passwords }}</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <label [translate]="'company_name'">Firmenname</label>
                <div
                  [ngClass]="( isErrorcmpy && registerForm.controls.company.errors && registerForm.controls['company'].invalid && (registerForm.controls['company'].dirty || registerForm.controls['company'].touched)) ? 'mb-3' : 'mb-23' ">
                  <input (blur)="Validationcmpy()" (input)="ValidationErrorcmpy()" type="text" class="form-control"
                    formControlName="company" maxlength="100">
                </div>
                <div *ngIf="isErrorcmpy">
                  <div
                    *ngIf="registerForm.controls.company.errors && registerForm.controls['company'].invalid && (registerForm.controls['company'].dirty || registerForm.controls['company'].touched)"
                    class="error">
                    <span *ngIf="registerForm.controls.company.errors.required" [translate]="'field_required'"
                    [translateParams]="{fieldname : 'company_name' | translate }">Firma ist erforderlich
                    </span>
                    <span *ngIf="registerForm.controls.company.errors.maxlength" [translate]="'field_max_length'"
                    [translateParams]="{fieldname : 'company_name' | translate, length : 100 }">Firma muss weniger als 100 Zeichen
                      haben
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <div class="checkbox col-md-12">
                <label style="text-align: left;" class="containercheckbox remembertext">
                  <span style="text-align: left;margin-left:2px;" [innerHTML]="'i_agree' | translate"></span>
                  <input type="checkbox" formControlName="accepted" /><span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <input type="button" name="next" class="next action-button" value="{{'submit'| translate }}"
                [ngStyle]="{ 'cursor' : (!registerForm.valid)? 'not-allowed' : 'pointer' }"
                [disabled]="!registerForm.valid" (click)="SubmitRegisteration()" />
            </div>
            <!-- <div class="col-md-12 mt-10 mb-15 text-center">
              <h6 class="login" [innerHTML]="'already_account' | translate">
              </h6>
            </div> -->
            <div class="col-md-12 mt-10 mb-15 text-center">
              <h6 class="login" [translate]="'already_account'" >You already have an account? You can just &nbsp;&nbsp; <a routerLink="/login" [translate]="'login_link'"> log in</a></h6>
            </div>
          </fieldset>
          <fieldset class="text-center" *ngIf="showConfirmTab">
            <h1 class="pagetitle" [translate]="'thanks_confirm_email'">Vielen Dank! Bitte bestätige deine Email.
            </h1>
            <p [translate]="'confirmation_email_sent_message'" [translateParams]="{email: userEmail}"></p>
            <a class="resendbtn" (click)="resendConfirmation()" [translate]="'resend'">Erneut senden</a>
            <!-- <div class="col-md-12 mt-10 mb-15 text-center">
              <h6 class="login" [innerHTML]="'already_account' | translate"></h6>
            </div> -->
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>