@import "../variables.component.scss";
.overview-section {
  margin-top: 8em;
  padding: 0px;

  .panel {
    .panel-heading {
      padding: 10px 15px;
      border-bottom: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: #dbecf3;
      border-top: 2px solid #369dc6;
      font-size: 20px;
      color: $primary-color;
      font-weight: $boldFontWeight;
      line-height: 1.5;
      .btn-save {
        margin-top: -5px;
        border-radius: 25px;
      }
    }

    .panel-body {
      .searchWrapper {
        margin-bottom: 2%;
      }

      .icon-wrapper {
        width: 25px;
        height: 25px;
        text-align: center;
        margin: 4px;
        padding: 2px;
      }
      .icon-btn{
        border-radius: 2px;
        padding: 2px;
      }

      .icon {
        width: 18px;
        height: 24px;
        color: $Whitecolor;
        cursor: pointer;
        vertical-align: middle;
      }

      .tablecls {
        padding: 0px 5px;
        
        tbody {
          tr {
            td {
              border-bottom: 1px solid #ddd;
            }
          }
        }
        .btn-info {
          padding: 2px 9px;
        }
         .form-control {
          margin-top: 10px;
           margin-bottom: 15px;
           border-radius: 25px;
         }
        th {
          padding: 8px 10px 0px 0px;
        }
        td {
          padding: 8px 10px 0px 0px;
        }
      }
    }
  }
}

.mt4px {
  margin: 0px 4px;
}

.table>tbody>tr>td {
  padding: 8px 1px;
  color: #afafaf;
  font-size: 16px;
  font-weight: 500;
}


th{
  padding: 8px 1px;
  color: #606060;
  font-size: 16px;
}

th:hover {
  padding: 8px 1px;
  color: #606060;
  font-size: 16px;
}



.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    border-radius: 0px;
    .modal-header {
      border-bottom: 0px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 60px;
      border-bottom: 1px solid #ddd;
      background-color: #369dc6;
      line-height: 1.1;

      .user-title {
        color: $Whitecolor;
        line-height: 1.1;
        text-align: center;
        font-size: $headingFontSize;
        font-weight: $boldFontWeight;
      }
      .user-email {
        color: $Whitecolor;
        line-height: 1.1;
        text-align: center;
        font-size: 20px;
        font-weight: $boldFontWeight;
      }
    }

    .modal-footer {
      border-top: 0px;
      padding: 1em 1em 2em 1em;

      .btn-save {
        height: 40px;
        border-radius: 20px;
        padding: 8px 48px;
        line-height: 1.5;
      }

      .btn-default {
        height: 40px;
        border-radius: 20px;
        padding: 8px 48px;
        line-height: 1.5;
      }


      &.new-footer {
        padding: 0px 1em 2em 1em;
      }
    }

    .usermodalbody {
      max-height: 480px;
      height: auto;
      overflow-y: scroll;
    }

    .modal-body {
      .error {
        font-size: 88%;
        color: #dc3545;
        width: 100%;
        padding-left: 1%;
        line-height: 1.5;
      }

      .select {
        position: relative;
        display: inline-block;
        width: 100%;

        select {
          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 10px 15px;
          outline: 0;
          border: 0;
          border-radius: 20px;
          background: #e6e6e6;
          color: #7b7b7b;
          line-height: 1.5;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          &::-ms-expand {
            display: none;
          }

          &:hover {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:focus {
            color: #000;
            background: #dbd9d9;

            ~ .select-arrow {
              border-top-color: #000;
            }
          }

          &:disabled {
            opacity: 0.5;
            pointer-events: none;

            ~ .select-arrow {
              border-top-color: #ccc;
            }
          }
        }

        .select-arrow {
          position: absolute;
          top: 16px;
          right: 15px;
          width: 0;
          height: 0;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0 5px;
          border-color: #7b7b7b transparent transparent transparent;
        }
      }

      .form-group {
        margin-bottom: 9px;
      }

      .form-control {
        display: block;
        width: 100%;
        height: 38px;
        padding: 10px 15px;
        font-size: $smallFontSize;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:hover {
          color: #000;
          background: #dbd9d9;
        }

        &:focus {
          color: #000;
          background: #dbd9d9;
        }
      }
    }

    .pl-15 {
      padding-left: 15px;
    }
  }
}


.card-body {
  text-align: center;
  text-align: center;
  border: 1px solid #a2a2a2;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.card-body:hover {
  background: #369dc6;
  color: #fff;
}
.selectedCard {
  background: #369dc6;
  color: #fff;
}
div.disabled {
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #ccc;
}


@media only screen and (min-width: 300px) and (max-width: 767px) {
  .modal.modal-content.modal-body.form-control {
    caret-color: transparent;
  }
}


