<app-adminheader></app-adminheader>
<div class="container-fluid overview-section">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Benutzerliste
        <button type="button" class="btn btn-info btn-save pull-right" (click)="exportUserList()">PDF exportieren
          </button>
        &nbsp;
        <button type="button" class="btn btn-info btn-save pull-right" style="margin-right:5px;"
          (click)="exportcsvUserList()">CSV exportieren
        </button>
      </div>

      <div class="panel-body">
        <div class="error-message alert alert-danger" *ngIf="isError">
          {{errorMessage}}
        </div>
        <div class="error-message alert alert-success" *ngIf="isSuccess">
          {{successMessage}}
        </div>
        <div class="table-responsive tablecls">
          <div class="col-md-3 pull-right">
            <input type="text" class="form-control" (keyup)='search($event.target.value)' placeholder="search...">
          </div>
          <table class="table" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <th width="8%">
                <mfDefaultSorter by="name" class="tables-th">Name</mfDefaultSorter>
              </th>
              <th width="13%">
                <mfDefaultSorter by="company">Unternehmen</mfDefaultSorter>
              </th>
              <th width="13%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
              </th>
              <th width="15%">
                <mfDefaultSorter by="street_name">Adresse</mfDefaultSorter>
              </th>
              <th width="10%">
                <mfDefaultSorter>Abonnement
                  </mfDefaultSorter>
              </th>
              <th width="9%">
                <mfDefaultSorter by="method">Bezahlmethode</mfDefaultSorter>
              </th>
              <th width="9%">
                <mfDefaultSorter by="paymentOption">Möglichkeit
                  </mfDefaultSorter>
              </th>
              <th width="7%">
                <mfDefaultSorter by="is_active">Status</mfDefaultSorter>
              </th>
              <th width="7%">
                <mfDefaultSorter by="LanguageName">Sprache
                  </mfDefaultSorter>
              </th>
              <th width="18%">
                <mfDefaultSorter by="name">Aktion</mfDefaultSorter>
              </th>
            </thead>
            <tbody *ngIf="mf.data.length > 0">
              <tr *ngFor="let user of mf.data">
                <td>{{ user.name }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.email }}</td>
                <td>
                  {{ (user.street_name != null ? user.street_name + ', ' : '') + '' + (user.postal_code != null ? user.postal_code + ', ' : '') + '' + (user.city != null ? user.city : '') }}
                </td>
                <td style="font-size:15px;">
                  <b>Start : </b> {{ user.subscription_start | date: 'dd-MM-yyyy' }} <br />
                  <b>End : </b> {{ user.subscription_end | date: 'dd-MM-yyyy' }}
                </td>
                <td>{{ user.method }}</td>
                <td>{{ user.paymentOption }}</td>
                <td>{{ user.is_active == 1 ? 'Active' : 'Deactive' }}</td>
                <td>{{ user.LanguageName }}</td>
                <td>
                  <a title="Edit" (click)="edituser(user.user_id)"
                    class="btn btn-primary waves-effect icon-wrapper icon-btn">
                    <i-edit class="icon"></i-edit>
                  </a>
                  <a id="sa-warning" title="Delete" (click)="deleteUser(user.user_id)"
                    class="btn btn-danger waves-effect icon-wrapper icon-btn" *ngIf="user.is_active != 1">
                    <i-trash-2 class="icon"></i-trash-2>
                  </a>
                  <a title="Upgrade" (click)="upgradePlan(user.user_id, user.email)" data-toggle="modal"
                    data-target="#upgradeModel" data-backdrop="static"
                    class="btn btn-primary waves-effect icon-wrapper icon-btn">
                    <i-plus-circle class="icon"></i-plus-circle>
                  </a>
                  <a title="History" (click)="planHistory(user.user_id, user.email)" data-toggle="modal"
                    data-target="#userHistoryModel" data-backdrop="static"
                    class="btn btn-primary waves-effect icon-wrapper icon-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-history">
                      <polyline points="12 6 12 12 16 14"></polyline>
                      <path
                        d="M2 13.24a9.67 9.67 0 0 0 2.71 5.83 10.2 10.2 0 0 0 14.32 0 9.89 9.89 0 0 0 0-14.14 10.2 10.2 0 0 0-13.52-.7C5.24 4.44 2.26 7.74 2 8">
                      </path>
                      <path d="M6 9H1V4"></path>
                    </svg>
                  </a>

                  <a title="History" (click)="changeActivation(user.name, user.subscription_id, user.is_active)"
                    class="btn btn-info icon-btn mt4px">
                    {{user.is_active == 1 ? 'Deactivate' : 'activate' }}
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="mf.data.length == 0">
              <tr>
                <td colspan="7">Keine Daten gefunden
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert></app-alert>
<app-footer></app-footer>
<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>

<div class="modal" id="userHistoryModel" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title user-email">Planen Sie den Verlauf
            ({{upgradeUserEmail}})</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <th>Abonnement</th>
                <th>Handlungsdatum</th>
                <th>Bezahlmethode</th>
                <th>Status</th>
                <th>Kommentar</th>
              </thead>
              <tbody></tbody>
              <tr *ngFor="let user of historyData">
                <td>
                  <b>Start : </b> {{ user.subscription_start | date: 'dd-MM-yyyy' }} <br />
                  <b>Ende : </b> {{ user.subscription_end | date: 'dd-MM-yyyy' }}
                </td>
                <td>{{ user.action_date | date: 'dd-MM-yyyy' }}</td>
                <td>{{ user.method }}</td>
                <td>{{ user.is_active == 1 ? 'Active' : 'Deactive' }}</td>
                <td>{{ user.comment }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="upgradeModel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title user-email">Upgrade-Plan
            ({{upgradeUserEmail}})</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="subscriptionForm">
            <div class="row" style="padding:20px 0;margin: 5px;">
              <div class="col-md-4" *ngFor="let plan of allSubscriptions$">
                <div class="card" (click)="selectedPlan(plan.ac_planId)">
                  <div class="card-body"
                    [ngClass]="plan.amount == 0 ? 'disabled' : selectedPlanId == plan.ac_planId ? 'selectedCard' : ''">
                    <span style="font-size:18px;"><b>{{plan.plan}}</b></span><br />
                    {{plan.currency_symbol}}{{plan.amount}}/{{plan.duration}}
                    {{plan.is_monthly == '0' ? 'Year' : 'Month'}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="hidden" formControlName="planId" />
              <input type="hidden" formControlName="userId" />
              <label class="pl-15">Methode</label>
              <input type="text" class="form-control" formControlName="method" maxlength="50">
            </div>
            <div class="col-md-12">
              <label class="pl-15">Kommentar</label>
              <textarea type="text" class="form-control" formControlName="comment" rows="3" style="height:100px;"
                maxlength="150"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-save"
          [ngStyle]="{ 'cursor' : (!subscriptionForm.valid)? 'not-allowed' : 'pointer' }"
          [disabled]="!subscriptionForm.valid" (click)="upgradePlanSubmit()">sparen</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal" id="usermodalId" tabindex="-1" role="dialog" [ngStyle]="{'display':userModal}"
  (click)="closemodal('user')">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="userContentId">
      <div class="modal-header popup-background">
        <button type="button" class="close" data-dismiss="modal" (click)="closeUserModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title user-title">Benutzer bearbeiten
          </h4>
      </div>
      <div class="error-message alert alert-danger" *ngIf="isModalError">
        {{modalErrorMessage}}
      </div>
      <div class="modal-body usermodalbody">
        <form [formGroup]="userForm">
          <div class="form-group">
            <label class="pl-15">Name</label>
            <input type="text" class="form-control" formControlName="name" maxlength="50">
          </div>
          <div
            *ngIf="userForm.controls.name.errors && userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched)"
            class="error">
            <span *ngIf="userForm.controls.name.errors.required">Name ist erforderlich
              </span>
            <span *ngIf="userForm.controls.name.errors.maxlength">Der Name darf nicht länger als 50 Zeichen sein
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Unternehmen</label>
            <input type="text" class="form-control" formControlName="company" maxlength="100">
          </div>
          <div
            *ngIf="userForm.controls.company.errors && userForm.controls['company'].invalid && (userForm.controls['company'].dirty || userForm.controls['company'].touched)"
            class="error">
            <span *ngIf="userForm.controls.company.errors.required">Firma ist erforderlich
              </span>
            <span *ngIf="userForm.controls.company.errors.maxlength">Firma muss weniger als 100 Zeichen haben
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Email</label>
            <input type="text" class="form-control" formControlName="email" maxlength="50">
          </div>
          <div
            *ngIf="userForm.controls.email.errors && userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
            class="error">
            <span *ngIf="userForm.controls.email.errors.required">E-Mail ist erforderlich
              </span>
            <span *ngIf="userForm.controls.email.errors.maxlength">Die E-Mail darf nicht länger als 50 Zeichen sein
              </span>
            <span *ngIf="userForm.controls.email.errors.pattern">E-Mail sollte eine gültige E-Mail-Adresse sein
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Telefon</label>
            <input type="text" class="form-control" (keypress)="checkPhone($event)" formControlName="phone"
              maxlength="15">
          </div>
          <div
            *ngIf="userForm.controls.phone.errors && userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched)"
            class="error">
            <span *ngIf="userForm.controls.phone.errors.required">Telefon ist erforderlich
              </span>
            <span *ngIf="userForm.controls.phone.errors.maxlength">Das Telefon muss aus weniger als 15 Zeichen bestehen
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Hausnummer / Straßenname
              </label>
            <input type="text" class="form-control" formControlName="streetName" maxlength="150">
          </div>
          <div
            *ngIf="userForm.controls.streetName.errors && userForm.controls['streetName'].invalid && (userForm.controls['streetName'].dirty || userForm.controls['streetName'].touched)"
            class="error">
            <span *ngIf="userForm.controls.streetName.errors.required">Hausnummer / Straßenname ist erforderlich
              </span>
            <span *ngIf="userForm.controls.streetName.errors.maxlength">Die Hausnummer / der Straßenname darf nicht länger als 150 Zeichen sein
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Postleitzahl</label>
            <input type="text" class="form-control" formControlName="postalCode" maxlength="10"
              (keypress)="numberOnly($event)">
          </div>
          <div
            *ngIf="userForm.controls.postalCode.errors && userForm.controls['postalCode'].invalid && (userForm.controls['postalCode'].dirty || userForm.controls['postalCode'].touched)"
            class="error">
            <span *ngIf="userForm.controls.postalCode.errors.required">Postleitzahl ist erforderlich
              </span>
            <span *ngIf="userForm.controls.postalCode.errors.maxlength">Die Postleitzahl muss aus weniger als 10 Zeichen bestehen
              </span>
            <span *ngIf="userForm.controls.postalCode.errors.pattern">Die Postleitzahl sollte eine Ziffer sein
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Stadt</label>
            <input type="text" class="form-control" formControlName="city" maxlength="100" pattern="[A-zÀ-ÿ ]+">
          </div>
          <div
            *ngIf="userForm.controls.city.errors && userForm.controls['city'].invalid && (userForm.controls['city'].dirty || userForm.controls['city'].touched)"
            class="error">
            <span *ngIf="userForm.controls.city.errors.required">Stadt ist erforderlich
              </span>
            <span *ngIf="userForm.controls.city.errors.maxlength">Die Stadt darf nicht länger als 100 Zeichen sein
              </span>
            <span *ngIf="userForm.controls.city.errors.pattern">Stadt sollte nur Buchstaben und Leerzeichen enthalten
              </span>
          </div>

          <div class="form-group">
            <label class="pl-15">Land</label>
            <input type="text" class="form-control" formControlName="country" maxlength="100" pattern="[A-zÀ-ÿ ]+">
          </div>
          <div
            *ngIf="userForm.controls.country.errors && userForm.controls['country'].invalid && (userForm.controls['country'].dirty || userForm.controls['country'].touched)"
            class="error">
            <span *ngIf="userForm.controls.country.errors.required">Land ist erforderlich
              </span>
            <span *ngIf="userForm.controls.country.errors.maxlength">Das Land darf nicht länger als 100 Zeichen sein
              </span>
            <span *ngIf="userForm.controls.country.errors.pattern">Das Land sollte nur Buchstaben und Leerzeichen enthalten
              </span>
          </div>
          <input type="hidden" formControlName="userId" />
        </form>
      </div>
      <div class="modal-footer new-footer">
        <button type="button" class="btn btn-info btn-save pull-right"
          [ngStyle]="{ 'cursor' : (!userForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!userForm.valid"
          (click)="updateUser()">sparen</button>
      </div>
    </div>
  </div>
</div>