<div class="page-not-found">
  <app-main-container
    heading="Da ist wohl was schief gelaufen"
    paragraph="Wir können Ihre angeforderte Seite leider nicht finden."
    primaryActionText="Zur Startseite gehen"
    primaryActionHref="/"
  ></app-main-container>
  <app-footer></app-footer>
</div>
