<div class="pageHeading col-md-12">
  <h2 class="page-title" [translate]="'profile'">Profile</h2>
</div>

<div id="exTab1" class="col-sm-12 col-xs-12">
  <div class="tab-content clearfix">
    <div class="tab-pane active">
      <form id="profileForm" [formGroup]="profileForm">
        <div>
          <label *ngIf="isShowUpgradeMessage" class="error errorMessage" [translate]="'complete_your_info_message'">You
            have to complete your address information
            before you can buy a license.</label>
        </div>
        <div class="col-md-12 mar-top2em">
          <div class="col-md-4">
            <label [translate]="'profile_picture'">Profile Picture</label>
            <div>
              <input type="file" multiple (change)="detectFiles($event)" class="form-control" formControlName="image"
                (change)="onFileChanged($event)">
              <small class="note" [translate]="'max_file_size_message'">* max. file size 3MB | max. measurements 2000 on
                2000 pixels</small>
            </div>
            <div>
              <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
            </div>
            <div class="error" *ngIf="filevalidationError">{{ filevalidationErrorMsg }}</div>
          </div>
          <div class="col-md-4">
            <label>{{startActivatedPlan}}</label>
            <div>
              <input type="text" class="form-control" disabled="disabled" [value]="subscriptionStartDate">
            </div>
          </div>
          <div class="col-md-4">
            <label>{{endActivatedPlan}}</label>
            <div>
              <input type="text" class="form-control" disabled="disabled" [value]="subscriptionEndDate">
            </div>
          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label [translate]="'name'">Name</label>
            <div>
              <input (blur)="Validationname()" (input)="ValidationErrorname()" type="text" class="form-control"
                formControlName="name" maxlength="50">
            </div>

            <div *ngIf="isErrorname">
              <div
                *ngIf="profileForm.controls.name.errors && profileForm.controls['name'].invalid && (profileForm.controls['name'].dirty || profileForm.controls['name'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.name.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'name' | translate }">Name is required</span>
                <span *ngIf="profileForm.controls.name.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'name' | translate, length : 50 }">Name must be less than 50
                  characters</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label [translate]="'email'">Email</label>
            <div>
              <input (blur)="Validationemail()" (input)="ValidationErroremail()" type="text" class="form-control"
                formControlName="email" maxlength="50">
            </div>
            <div *ngIf="isErroremail">
              <div
                *ngIf="profileForm.controls.email.errors && profileForm.controls['email'].invalid && (profileForm.controls['email'].dirty || profileForm.controls['email'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.email.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'email' | translate }">Email is required</span>
                <span *ngIf="profileForm.controls.email.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'email' | translate, length : 50 }">Email must be less than 50
                  characters</span>
                <span *ngIf="profileForm.controls.email.errors.pattern" [translate]="'incorrect_email'">Email should be
                  valid email address</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label [translate]="'company_name'">Company </label>
            <input (blur)="Validationcompany()" (input)="ValidationErrorcompany()" type="text" class="form-control"
              formControlName="company" maxlength="100">
            <div *ngIf="isErrorcompany">
              <div
                *ngIf="profileForm.controls.company.errors && profileForm.controls['company'].invalid && (profileForm.controls['company'].dirty || profileForm.controls['company'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.company.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'company_name' | translate }">Company is required</span>
                <span *ngIf="profileForm.controls.company.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'company_name' | translate, length : 100 }">Company must be less than
                  100
                  characters</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label [translate]="'language'">Language</label>
            <select class="form-control" formControlName="language">
              <option [value]="language.ac_languageId" *ngFor="let language of allLanguages$">{{ language.name }}
              </option>
            </select>
            <div
              *ngIf="profileForm.controls.language.errors && profileForm.controls['language'].invalid && (profileForm.controls['language'].dirty || profileForm.controls['language'].touched)"
              class="error">
              <span *ngIf="profileForm.controls.language.errors.required" [translate]="'field_required'"
                [translateParams]="{fieldname : 'language' | translate }">Language is required</span>
            </div>
          </div>

          <div class="col-md-4">
            <label [translate]="'phone_number'">Phone </label>
            <div>
              <input (blur)="Validationphone()" (input)="ValidationErrorphone()" type="{{ (IsMobile)?'number':'text' }}" class="form-control"
                (keypress)="checkPhone($event)" formControlName="phone" maxlength="15">
            </div>
            <div *ngIf="isErrorphone">
              <div
                *ngIf="profileForm.controls.phone.errors && profileForm.controls['phone'].invalid && (profileForm.controls['phone'].dirty || profileForm.controls['phone'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.phone.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'phone_number' | translate }">Phone is required</span>
                <span *ngIf="profileForm.controls.phone.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'phone_number' | translate, length : 15 }">Phone must be less than 15
                  characters</span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label [translate]="'address'">Building No. / Street Name </label>
            <div>
              <input (blur)="Validationstreet()" (input)="ValidationErrorstreet()" type="text" class="form-control"
                formControlName="streetName" maxlength="150">
            </div>
            <div *ngIf="isErrorstreet">
              <div
                *ngIf="profileForm.controls.streetName.errors && profileForm.controls['streetName'].invalid && (profileForm.controls['streetName'].dirty || profileForm.controls['streetName'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.streetName.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'address' | translate }">Building No. / Street Name is required</span>
                <span *ngIf="profileForm.controls.streetName.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'address' | translate, length : 150 }">Building No. / Street Name must
                  be less than 150
                  characters</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label [translate]="'zip_code'">Postal Code </label>
            <div>
              <input (blur)="Validationpostalcode()" (input)="ValidationErrorpostalcode()" type="{{ (IsMobile)?'number':'text' }}"
                class="form-control" formControlName="postalCode" maxlength="10" (keypress)="numberOnly($event)">
            </div>
            <div *ngIf="isErrorpostalcode">
              <div
                *ngIf="profileForm.controls.postalCode.errors && profileForm.controls['postalCode'].invalid && (profileForm.controls['postalCode'].dirty || profileForm.controls['postalCode'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.postalCode.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'zip_code' | translate }">Postal Code is
                  required</span>
                <span *ngIf="profileForm.controls.postalCode.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'zip_code' | translate, length : 10 }">Postal Code
                  must be less than 10
                  characters</span>
                <span *ngIf="profileForm.controls.postalCode.errors.pattern" [translate]="'postal_pattern'">Postal Code
                  should be digit</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label [translate]="'city'"> City </label>
            <div>
              <input (blur)="Validationcity()" (input)="Validationerrorcity()" type="text" class="form-control"
                formControlName="city" maxlength="100" pattern="[A-zÀ-ÿ ]+">
            </div>
            <div *ngIf="isErrorcity">
              <div
                *ngIf="profileForm.controls.city.errors && profileForm.controls['city'].invalid && (profileForm.controls['city'].dirty || profileForm.controls['city'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.city.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'city' | translate }">City is required</span>
                <span *ngIf="profileForm.controls.city.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'city' | translate, length : 100 }">City must be less
                  than 100 characters</span>
                <span *ngIf="profileForm.controls.city.errors.pattern" [translate]="'city_pattern'"
                  [translateParams]="{fieldname : 'city' | translate }">City should
                  contains only alpha characters and
                  spaces</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label [translate]="'country'">Country</label>
            <div>
              <!-- <input (blur)="Validationcountry()" (input)="Validationerrorcountry()" type="text" class="form-control"
                formControlName="country" maxlength="100" pattern="[A-zÀ-ÿ ]+"> -->
              <select class="form-control" formControlName="country" >
                 <option value="">Select</option>
                 <option value="at" [translate]="'austria'">Austria</option>
                 <option value="de" [translate]="'germany'">Germany</option>
                 <option value="li" [translate]="'liechtenstein'">Liechtenstein</option>
                 <option value="ch" [translate]="'switzerland'">Switzerland</option>
              </select>  
            </div>
            <div *ngIf="isErrorcountry">
              <div
                *ngIf="profileForm.controls.country.errors && profileForm.controls['country'].invalid && (profileForm.controls['country'].dirty || profileForm.controls['country'].touched)"
                class="error">
                <span *ngIf="profileForm.controls.country.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'country' | translate }">Country is
                  required</span>
                <span *ngIf="profileForm.controls.country.errors.maxlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'country' | translate, length : 100 }">Country must
                  be less than 100
                  characters</span>
                <span *ngIf="profileForm.controls.country.errors.pattern" [translate]="'city_pattern'"
                  [translateParams]="{fieldname : 'country' | translate }">Country
                  should contains only alpha characters
                  and spaces</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input type="button" class="btn btn-success btn-block save-button" value="{{ 'save' | translate }}"
              [ngStyle]="{ 'cursor' : (!profileForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!profileForm.valid"
              (click)="SubmitProfile()" />
          </div>
        </div>
        <div class="error-message alert alert-danger col-md-12 customerroralert" *ngIf="isError">
          {{errorMessage}}
        </div>

        <div class="error-message alert alert-success col-md-12 customalert" *ngIf="isSuccess">
          {{successMessage}}
        </div>
      </form>
    </div>
  </div>

  <div class="tab-content clearfix changePasswordSection">
    <div class="tab-pane active">
      <form id="changePasswordForm" [formGroup]="changePasswordForm">
        <div class="error-message alert alert-danger" *ngIf="isPasswordError">
          {{PassworderrorMessage}}
        </div>
        <div class="error-message alert alert-success" *ngIf="isPasswordSuccess">
          {{PasswordsuccessMessage}}
        </div>
        <div class="col-md-12 mar-top2em">
          <div class="col-md-4">
            <label [translate]="'password'">Old Password</label>
            <div>
              <input (blur)="Validationoldpwd()" (input)="Validationerroroldpwd()" type="password" class="form-control"
                formControlName="oldPassword" maxlength="25" minlength="6">
            </div>
            <div *ngIf="isErroroldpwd">
              <div
                *ngIf="changePasswordForm.controls.oldPassword.errors && changePasswordForm.controls['oldPassword'].invalid && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword'].touched)"
                class="error">
                <span *ngIf="changePasswordForm.controls.oldPassword.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'password' | translate }">Old
                  Password is required</span>
                <span *ngIf="changePasswordForm.controls.oldPassword.errors.minlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'password' | translate, length : 6 }">Old Password must be at least 6
                  characters</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label [translate]="'new_password'">New Password</label>
            <div>
              <input (blur)="Validationnewpwd()" (input)="Validationerrornewpwd()" type="password" class="form-control"
                formControlName="password" maxlength="25" minlength="6">
            </div>
            <div *ngIf="isErrornewpwd">
              <div
                *ngIf="changePasswordForm.controls.password.errors && changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)"
                class="error">
                <span *ngIf="changePasswordForm.controls.password.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'new_password' | translate }">New
                  password is required</span>
                <span *ngIf="changePasswordForm.controls.password.errors.minlength" [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'new_password' | translate, length : 6 }">New
                  Password must be at least 6
                  characters</span>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <label><span [translate]="'confirm_new_password'">Confirm New Password</span></label>
            <input (blur)="Validationconfirmnewpwd()" (input)="Validationerrorconfirmnewpwd()" type="password"
              class="form-control" formControlName="confirmPassword" maxlength="25" minlength="6">
            <div *ngIf="isErrorconfirmnewpwd">
              <div
                *ngIf="changePasswordForm.controls.confirmPassword.errors && changePasswordForm.controls['confirmPassword'].invalid && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)"
                class="error">
                <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required" [translate]="'field_required'"
                  [translateParams]="{fieldname : 'confirm_new_password' | translate }">Confirm Password is
                  required</span>
                <span *ngIf="changePasswordForm.controls.confirmPassword.errors.minlength"
                  [translate]="'field_max_length'"
                  [translateParams]="{fieldname : 'confirm_new_password' | translate, length : 6 }">Confirm Password
                  must be at
                  least 6 characters</span>
              </div>
            </div>

            <div *ngIf="changePasswordForm.errors" class="error">{{ changePasswordForm.errors?.passwords }}</div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input type="button" class="btn btn-success btn-block save-button" value="{{'save' | translate}}"
              [ngStyle]="{ 'cursor' : (!changePasswordForm.valid)? 'not-allowed' : 'pointer' }"
              [disabled]="!changePasswordForm.valid" (click)="SubmitChangePassword()" />
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
<div *ngIf="isParentMessage" class="tab-content clearfix changePasswordSection">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading head-text">
        <span [translate]="'user_list'">Users List</span>
        <a *ngIf="!isExpired && !IsMobile" href="javascript:void(0)" (click)="openaddTeam_member()"
          class="btn btn-primary pull-right addMemberBtn" [translate]="'add_new_member'">
          Add New Member
        </a>
        <a *ngIf="isExpired && !IsMobile" href="javascript:void(0)" class="btn btn-primary pull-right disabled addMemberBtn"
          [translate]="'add_new_member'">
          Add New Member
        </a>
      </div>
      <div class="panel-body">
          <a *ngIf="!isExpired && IsMobile" style="margin-bottom: 2%;" href="javascript:void(0)" (click)="openaddTeam_member()"
            class="btn btn-primary pull-right addMemberBtn" [translate]="'add_new_member'">
            Add New Member
          </a>
          <a *ngIf="isExpired && IsMobile" style="margin-bottom: 2%;" href="javascript:void(0)" class="btn btn-primary pull-right disabled addMemberBtn"
            [translate]="'add_new_member'">
            Add New Member
          </a>
        <div class="table-responsive tablecls">
          <table class="table" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <th>
                <mfDefaultSorter by="name" class="add-user"><span [translate]="'userId'">UserID</span></mfDefaultSorter>

              </th>
              <th>
                <mfDefaultSorter by="name"><span [translate]="'name'">Name</span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="email"><span [translate]="'email'">Email</span></mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="is_active" [translate]="'status'">Status</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="name"><span [translate]="'action'">Action</span></mfDefaultSorter>
              </th>
            </thead>
            <tbody *ngIf="mf.data.length > 0">
              <tr class="bor-btm" *ngFor="let user of mf.data">
                <td>{{ user.ac_userId }} </td>
                <td> {{ user.name }}</td>
                <td>{{ user.email }}</td>

                <td *ngIf="user.is_verified == 1" [translate]="'active'">Active</td>
                <td *ngIf="user.is_verified != 1" [translate]="'deactive'">Deactive</td>
                <td>
                  <a href="javascript:void(0)" id="sa-warning" title="Delete" (click)="deleteUser(user.ac_userId)"
                    class="waves-effect icon-wrapper" *ngIf="user.is_active != 1 && !isExpired">
                    <i-trash-2 class="icon"></i-trash-2>
                  </a>
                  <a href="javascript:void(0)" id="sa-warning" title="Delete" class="waves-effect icon-wrapper disabled"
                    *ngIf="user.is_active != 1 && isExpired">
                    <i-trash-2 class="icon"></i-trash-2>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="mf.data.length == 0">
              <tr>
                <td colspan="7" [translate]="'no_data_found'">No Data Found</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showDeleteAccount" id="exTab1" class="col-sm-12 col-xs-12">
  
  <div class="tab-content clearfix changePasswordSection">
    <div class="tab-pane active">
        <div class="error-message alert alert-danger" *ngIf="isAccountError">
          {{errorAccountMessage}}
        </div>
        <div class="error-message alert alert-success" *ngIf="isAccountSuccess">
          {{successAccountMessage}}
        </div>
        
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4" style="margin-top:2%;">
            <input type="button" class="btn btn-danger btn-delete btn-block" value="{{'delete_account' | translate}}"
               (click)="DeleteAccount()" />
          </div>
        </div>
    </div>
  </div>

</div>


<div class="modal" id="addteam_membermodalId" tabindex="-1" role="dialog" [ngStyle]="{'display':addteam_memberModal}"
  (click)="closemodal('team_member')">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="addteam_memberContentId">
      <div class="modal-header popup-background">
        <button type="button" class="close" data-dismiss="modal" (click)="closeaddTeam_memberModal()"
          aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title team_member-title cultur-title" [translate]="'add_new_member'">Add New member</h4>
      </div>
      <div class="error-message alert alert-danger" *ngIf="isModalError">
        {{modalErrorMessage}}
      </div>
      <div class="modal-body team_membermodalbody">
        <form [formGroup]="team_memberForm">
          <div class="form-group">
            <label class="pl-15" [translate]="'member_name'">Member Name</label>
            <input type="text" class="form-control" formControlName="name" maxlength="100">
            <div
              *ngIf="team_memberForm.controls.name.errors && team_memberForm.controls['name'].invalid && (team_memberForm.controls['name'].dirty || team_memberForm.controls['name'].touched)"
              class="error">
              <span *ngIf="team_memberForm.controls.name.errors.required" [translate]="'field_required'"
                [translateParams]="{fieldname : 'member_name' | translate }">Name is
                required</span>
              <span *ngIf="team_memberForm.controls.name.errors.maxlength" [translate]="'field_max_length'"
                [translateParams]="{fieldname : 'member_name' | translate, length : 100 }">Name must be
                less than 100 characters</span>
            </div>
          </div>
          <div class="form-group">
            <label class="pl-15" [translate]="'email'">Email</label>
            <input type="email" required class="form-control" formControlName="email">
            <div
              *ngIf="team_memberForm.controls.email.errors && team_memberForm.controls['email'].invalid && (team_memberForm.controls['email'].dirty || team_memberForm.controls['email'].touched)"
              class="error">
              <span *ngIf="team_memberForm.controls.email.errors.required" [translate]="'field_required'"
                [translateParams]="{fieldname : 'email' | translate }">Email is
                required</span>
            </div>
          </div>
          <input type="hidden" value="new" formControlName="userID" />
          <input type="hidden" value="new" formControlName="language" />
          <input type="hidden" value="new" formControlName="company" />
        </form>
      </div>
      <div class="modal-footer new-footer">
        <button type="button" class="btn btn-info btn-save pull-right"
          [ngStyle]="{ 'cursor' : (!team_memberForm.valid)? 'not-allowed' : 'pointer' }"
          [disabled]="!team_memberForm.valid" (click)="addTeam_member()" [translate]="'save'">Save</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>

<app-deletealert></app-deletealert>