@import "../variables.component.scss";

.pageHeading{
    margin-top: 3em;
    .page-title {
        font-size: $headingFontSize;
        color: $primary-color;
        font-weight: $boldFontWeight;
        line-height: 1.1;
    }

    .faq {
        margin-top: 15px;
        margin-bottom: 15px;
        border: 0;
        border-top: 1px solid #fff;
    }
}

#exTab1{
    margin-top: 1em;
    margin-bottom: 3em;
    
    .tab-content {
        color: $Whitecolor;
        background-color: $Whitecolor;
        border: 1px solid #e2e2e2;
        padding: 5px 15px;
        padding-bottom: 2em;
        box-shadow: 1px 1px 6px #ccc;

        form {
            margin: 1em 0;
            .note{
                color: #afafaf;
            }
            .form-control {
                border-radius: 20px;
                height: 40px;
                line-height: 1.5;
            }

            .file-form-control {
                height: 40px;
                line-height: 1.5;
                display: block;
                width: 100%;
                padding: 6px 12px;
                font-size: 14px;
                color: #afafaf;
                background-color: #fff;
            }

            .error {
                font-size: 90%;
                color: #dc3545;
                width: 100%;
                text-align: left;
                line-height: 1.5;
                padding-left: 5%;
            }
            
            label {
                padding: 0 12px;
            }

            select {
                border-left: 1px solid #ccc ;
            }

            .save-button {
                border-radius: 25px;
                min-height: 40px;
                margin-top: 1.8em;
                background: #73b680;
                outline: 0px ;
                line-height: 1.5;
                &:hover, &:focus {
                    box-shadow: 0 0 0 2px white, 0 0 0 3px #73b680;
                    background: #73b680 ;
                    outline: 0px ;
                }
            }

            .customalert{
                margin-bottom: 0;
                margin-top: 2%;
                width: 94%;
                margin-left: 3%;
            }
        }

        .mar-top2em {
            margin-top: 2em;
        }

        .mar-top1em {
            margin-top: 1em;
        }

        .servererror {
            width: 90%;
            text-align: left;
            margin: 1% 5%;
            padding: 1% 4%;
            color: $Whitecolor;
            background-color: #dc3545;
            line-height: 1.5;
            div {
              margin: 0.5% 0;
            }
        }
    }

    .changePasswordSection{
        margin-top: 2%;
    }
}
  

@media only screen and (max-width: 1024px) {
.pageHeading {
    text-align: center;
    margin-top: 6em;
}
}

.table-editable {
    position: relative;
    
    .glyphicon {
      font-size: 20px;
    }
  }
  
  .table-remove {
    color: #070;
    cursor: pointer;
    
    &:hover {
      color: #0b0;
    }
  }
  
  .table-up, .table-down {
    color: #007;
    cursor: pointer;
    
    &:hover {
      color: #00f;
    }
  }
  
  .table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    
    &:hover {
      color: #0b0;
    }
  }
