<div style="margin: 0px 12px" *ngIf="message" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="message.noFn()" aria-label="Close">
                    <i-x></i-x>
                </button>
                <h4 class="modal-title text-center">
                    <strong [translate]="'alert'"></strong>
                </h4>
            </div>

            <div *ngIf="message?.type == 'confirm'"  class="modal-body">
                <div class="row ptb-20">
                    <div class="col-md-12">
                        <h4 class="text-left modaltext">{{message.text}}</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">      
                <a (click)="message.noFn()" class="mlr-5">
                    <button class="btn btn-pm btn-warning btnclass" [translate]="'no'">No</button>
                </a> 
                <a (click)="message.siFn()" class="mlr-5">
                    <button  class="btn btn-sc btn-info btnclass" [translate]="'yes'">Yes</button>
                </a>       
            </div>
        </div>
    </div>
</div>