@import "../variables.component.scss";
.modal{
    display: block ;
    z-index: 1100;

    .modal-dialog{
        max-width: 450px;
        margin: 100px auto;

        .modal-body{
            .ptb-20{
                padding: 20px 0;

                .modaltext{
                    font-size: $defaultFontSize;
                    color: $primary-color;
                    line-height: 1.5;
                }
            }
        }

        .modal-footer{
            .mlr-5{
                margin: 0 5px;

                .btnclass{
                    padding: 7px 20px;
                    border-radius: 20px;
                    font-size: 16px;
                    font-weight: $boldFontWeight;
                    line-height: 1.5;
                }
            }
        }

        .modal-header{
            background-color: #369dc6;
            color: $Whitecolor;

            .modal-title{
                font-size: $headingFontSize;
                font-weight: $boldFontWeight;
                line-height: 1.1;
            }
        }
    }
}
