<app-header *ngIf="isHeader"></app-header>
<div class="container" *ngIf="!isAdmin">
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container-fluid" *ngIf="isAdmin">
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- *ngIf="!isHeader" -->
<select style="position: fixed;
top: 10px;
right: 10px;
z-index: 9;
padding: 5px 10px;
font-size: 15px;" [(ngModel)]="selectedLanguage" (change)="changedLanguage()">
  <option [value]="language.symbol" *ngFor="let language of allLanguages$">{{ language.name }}
  </option>
  <!-- <option value="en">English</option>
  <option value="de">German</option>
  <option value="fr">French</option> -->
</select>

<!-- <button (click)="languageList()">Test</button> -->