.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background:#fff;
    box-shadow:0 2px 5px transparentize(#000, .9);
        .headercontent{
            max-width: 1450px;
            width: 80vw;
            margin: 0px auto;
        }
              .navbar-header    {
                    .navbar-toggle {
                        margin-top: 17px;
                    }
                    .navbar-brand {
                        height: auto;
                        padding: 4px 15px -1px;
                        img {
                            width: 35px;
                            display: inline;
                         }
                        .logo_text{
                            font-size: 24px;
                            color: #000;
                            font-weight: 700;
                            padding-left: 10px;
                            line-height: 1.5;
                        }
                    }

                }
            }