$primary-color : #606060;
$secondary-color : #afafaf;
$Whitecolor : #fff;
$defaultFontSize : 16px;
$headingFontSize : 26px;
$smallFontSize : 14px;
$semiboldFontWeight : 500;
$boldFontWeight : bold;
$break-ipad : 768px;