<header id="header">
  <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
    <div class="container headercontent">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only" [translate]="'Toggle_navi'">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <img src="assets/images/logonew1.svg" alt="website logo">
          <span class="logo_text">Agricontrol</span>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="max-height: 437px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="main-li upgradeText" *ngIf="isUpgradeButton">
            <button translate data-toggle="tooltip" (click)="upgrade()" class="btn btn-success upgradeBtn"
              [translate]="'upgrade_now'">
            </button>
          </li>
          <li class="main-li"><a routerLink="/dashboard" ><span [translate]="'dashboard'">Dashboard</span></a></li>
          <li class="main-li" *ngIf="isExpired"><a href="javascript:void(0);" disabled><span
                [translate]="'Export'">Export</span></a></li>
          <li class="main-li" *ngIf="!isExpired"><a href="javascript:void(0);" (click)="openexportModal()"><span
                [translate]="'export'">Export</span></a></li>
          <li class="dropdown dropdown-li">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <img [src]="currentUserPicture" alt="user profile picture">&nbsp;
              <span>{{ currentUserCompanyName | limitTo : 15 }}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="background-color: white;padding: inherit;">
              <li><a routerLink="/settings"><span [translate]="'profile'">Profile</span></a></li>
              <li><a routerLink="/crops"><span [translate]="'crops'">Crops</span></a></li>
              <li><a routerLink="/master" ><span [translate]="'masters'">Masters</span></a></li>
              <!-- <li><a routerLink="/registerFields">Help</a></li> -->
              <li><a routerLink="/faq"><span [translate]="'faq_short'">FAQ</span></a></li>
              <li><a (click)="logOut()" href="javascript:void(0);"><span [translate]="'logout'">Logout</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<!--/header-->

<script src="assets/js/scrolling-nav.js"></script>

<div class="modal" tabindex="-1" role="dialog" id="exportmodalId" [ngStyle]="{'display':exportModal}"
  (click)="closemodal('export')">
  <div class="modal-dialog">
    <div class="modal-content" id="exportContentId">
      <div class="modal-body" id="modalBody">
        <button type="button" class="close" data-dismiss="modal" (click)="closeexportModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a style="line-height: 1;" role="button" class="collapsed tab1" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <div class="exportTitleText">
                    <span style="margin-left:0px;line-height: 1.2;" class="exportHeadings" [translate]="'download_new_export'">Download crop rotation as PDF</span>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <form class="exportForm" [formGroup]="exportForm">
                <div class="panel-body">
                  <div class="exportSubHeadings"  [translate]="'field_to_be_exported'">Fields to be exported</div>
                  <div class="fieldDiv">
                    <div class="exportItems bor-btm col-md-12" formArrayName="fields"
                      *ngFor="let field of formData.controls; let i = index">
                      <input type="checkbox" value="userFields[i].ac_fieldId" [formControlName]="i" class="col-md-1" />
                      <span class="col-md-6">{{ userFields[i].field_name }}</span><span
                        class="col-md-5">{{ userFields[i].field_size }} a</span>
                    </div>
                  </div>
                  <div class="exportSubHeadings" [translate]="'time_period_to_be_exported'"> Time period to be exported
                  </div>
                  <div class="exportItems bor-btm col-md-12">
                    <input type="radio" name="pdfType" formControlName="pdfType" value="standard" class="col-md-1" />
                    <span class="col-md-4" [translate]="'standard'">Standard</span>
                    <div>
                    <span class="col-md-7" [translate]="'the_last_complete_seven'">The last complete 7 years</span>
                    </div>
                  </div>
                  <div class="exportItems bor-btm col-md-12">
                    <input type="radio" name="pdfType" formControlName="pdfType" value="individual" class="col-md-1" />
                    <span class="col-md-4" [translate]="'individual'">Individual</span> <span class="col-md-7">
                      <input type="text" placeholder="{{ 'start_date' | translate }}" formControlName="startDate" readonly *ngIf="!IsMobile"
                        id="startDate" class="popupdatepicker">
                        <input formControlName="startDate" type="date" placeholder="{{ 'start_date' | translate }}" *ngIf="IsMobile" style="padding: 0px;padding-left:inherit;" class="mobile_margin input-min-width-95p">
                      <!-- <ng-datepicker formControlName="startDate" [options]="startOptions" class="popupdatepicker">
                      </ng-datepicker>  -->
                      <div>
                      <span style="margin-left: 16px;" [translate]="'to'">to</span>
                      </div>
                      <input type="text" placeholder="{{ 'end_date' | translate }}" *ngIf="!IsMobile"
                        formControlName="endDate" id="endDate" class="popupdatepicker" readonly>
                        <input formControlName="endDate" type="date" placeholder="{{ 'end_date' | translate }}" *ngIf="IsMobile" style="margin-left:16px;padding: 0px;padding-left:inherit;" class="mobile_margin input-min-width-95p">
                        <!-- <ng-datepicker formControlName="endDate" [options]="endOptions"
                        class="popupdatepicker"></ng-datepicker> -->
                    </span>
                  </div>
                  <div class="exportItems col-md-12">
                    <div class="col-md-12 error" *ngIf="!exportForm.valid && userFields"
                      [translate]="'export_error_message'">
                      Please select fields to be exported and time period to be exported</div>
                    <div class="error-message alert alert-danger" *ngIf="isError">
                      {{errorMessage}}
                    </div>
                    <button type="button" class="btn btn-info pull-right btn-graphic cursorpointer {{ (IsMobile) ?'col-sm-5 col-xs-6':'' }}"
                      (click)="graphicalExport()"
                      [ngStyle]="{ 'cursor' : (!exportForm.valid)? 'not-allowed' : 'pointer' }"
                      [disabled]="!exportForm.valid" [translate]="'graphic_export'">Graphical Export</button>
                    <button type="button" class="btn btn-info cursorpointer {{ (IsMobile) ?'col-sm-5 col-xs-6 btn-export-mobile':'pull-right btn-tabular' }}"
                      (click)="tabularExport()"
                      [ngStyle]="{ 'cursor' : (!exportForm.valid)? 'not-allowed' : 'pointer' }"
                      [disabled]="!exportForm.valid" [translate]="'tabular_export'">Tabular Export</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a style="line-height: 1;" class="collapsed tab1" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div class="exportTitleText">
                  <span style="margin-left:0px;line-height: 1.2;" class="exportHeadings" [translate]="'download_culture_sheet'">Download culture sheets as PDF</span>
                  </div> 
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="exportDiv" >
                  <!-- <div class="exportItems bor-btm" > -->
                    <form class="exportForm" [formGroup]="cultureForm" >
                      
                      <span class="col-md-4 col-sm-12 col-xs-12" [translate]=""><i class="fa fa-calendar"></i> Choose Year</span> 
                      <span class="col-md-4 col-sm-6 col-xs-6">
                        <select formControlName="year" class="form-control" style="background-color: white;padding: inherit;">
                          <option style="background-color: white;" selected value="">select</option>
                          <option style="background-color: white;" *ngFor="let year of exportYear$" >{{year}}</option>
                        </select>
                      </span>
                      <span class="col-md-4 col-sm-6 col-xs-6">
                          <button style="margin-top: 3%; padding:0px 15px;" type="button" class="btn btn-info pull-right btn-graphic" [ngStyle]="{ 'cursor' : (!cultureForm.valid)? 'not-allowed' : 'pointer' }" 
                            [disabled]="!cultureForm.valid" (click)="getCultureSheetExport()" >Export</button>
                      </span>
                      <div class="exportItems bor-btm col-md-12 col-sm-12 col-xs-12"></div>    
                    </form>
                  <!-- </div> -->
                </div>
                <!-- <ng-template #noData>
                  <div class="fieldDiv">
                    <div class="exportItems col-md-12">
                      <span class="col-md-12 text-center" [translate]="'no_data_found'">No Export Found!!</span>
                    </div>
                  </div>
                </ng-template> -->
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a style="line-height: 1;" class="collapsed tab1" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <div class="exportTitleText">
                  <span style="margin-left:0px;line-height: 1.2;" class="exportHeadings" [translate]="'download_crops_per_year'">Download crops per year as PDF</span>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="exportDiv" >
                  <!-- <div class="exportItems bor-btm" > -->
                    <form class="exportForm" [formGroup]="cropsPerYearForm">
                      
                      <span class="col-md-4 col-sm-12 col-xs-12" [translate]=""><i class="fa fa-calendar"></i> Choose Year</span> 
                      <span class="col-md-4 col-sm-6 col-xs-6">
                        <select formControlName="year" class="form-control" style="background-color: white;padding: inherit;">
                          <option style="background-color: white;" selected value="">select</option>
                          <option style="background-color: white;" *ngFor="let year of CultureYears$" >{{ year.years }}</option>
                        </select>
                      </span>
                      <span class="col-md-4 col-sm-6 col-xs-6">
                          <button style="margin-top: 3%;padding:0px 15px;" type="button" class="btn btn-info pull-right btn-graphic" [ngStyle]="{ 'cursor' : (!cropsPerYearForm.valid)? 'not-allowed' : 'pointer' }" 
                            [disabled]="!cropsPerYearForm.valid" (click)="getCropByYearExport()" >Export</button>
                      </span>
                      <div class="exportItems bor-btm col-md-12 col-sm-12 col-xs-12"></div>    
                    </form>
                  <!-- </div> -->
                </div>
                <!-- <ng-template #noData>
                  <div class="fieldDiv">
                    <div class="exportItems col-md-12">
                      <span class="col-md-12 text-center" [translate]="'no_data_found'">No Export Found!!</span>
                    </div>
                  </div>
                </ng-template> -->
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a style="line-height: 1;" class="collapsed tab1" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <div class="exportTitleText">
                  <span style="margin-left:0px;line-height: 1.2;" class="exportHeadings" [translate]="'download_fertilizer_per_year'">Download Fertilizer per year as PDF</span>
                  </div> 
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="exportDiv" >
                  <!-- <div class="exportItems bor-btm" > -->
                    <form class="exportForm" [formGroup]="fertilizerPerYearForm">
                      
                      <span class="col-md-4 col-sm-12 col-xs-12" [translate]=""><i class="fa fa-calendar"></i> Choose Year</span> 
                      <span class="col-md-4 col-sm-6 col-xs-6">
                        <select formControlName="year" class="form-control" style="background-color: white;padding: inherit;">
                          <option style="background-color: white;" selected value="">select</option>
                          <option style="background-color: white;" *ngFor="let year of FertilizerYears$" >{{ year.years }}</option>
                        </select>
                      </span>
                      <span class="col-md-4 col-sm-6 col-xs-6">
                          <button style="margin-top: 3%;padding:0px 15px;" type="button" class="btn btn-info pull-right btn-graphic" [ngStyle]="{ 'cursor' : (!fertilizerPerYearForm.valid)? 'not-allowed' : 'pointer' }" 
                            [disabled]="!fertilizerPerYearForm.valid" (click)="getFertilizerByYearExport()" >Export</button>
                      </span>
                      <div class="exportItems bor-btm col-md-12 col-sm-12 col-xs-12"></div>    
                    </form>
                  <!-- </div> -->
                </div>
                
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a style="line-height: 1;" class="collapsed tab1" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="exportTitleText">
                  <span style="margin-left:0px;line-height: 1.2;" class="exportHeadings" [translate]="'download_past_export'">Download past exports as PDF</span>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="exportDiv" *ngIf="userExports?.length > 0;else noData">
                  <div class="exportItems bor-btm col-md-12" *ngFor="let export of userExports; let i = index">
                    <span class="col-md-3">{{ export.created_at }}</span>
                    <span class="col-md-4">{{ export.sheet_data_type }}</span>
                    <span class="col-md-3">{{ export.export_type }}</span>
                    <span class="col-md-2" class="warningiconWrapper pull-right">
                      <a title="Download Receipt" [href]="export.file" target="_blank">
                        <i-download class="warningicon"></i-download>
                      </a></span>
                  </div>
                </div>
                <ng-template #noData>
                  <div class="fieldDiv">
                    <div class="exportItems col-md-12">
                      <span class="col-md-12 text-center" [translate]="'no_data_found'">No Export Found!!</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a id="otherPDF" [href]="URLPDF" style="display: none"></a>

<div class="modal upgradeModal" tabindex="-1" role="dialog" id="suggestionModalId" [ngStyle]="{'display':upgradeModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header popup-background">
        <button type="button" class="close" data-dismiss="modal" (click)="closeUpgradeModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title cultur-title" [translate]="'info_correct'">Is this information correct?</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 upgradeContent">
            <div class="col-md-12">
              <label>{{ 'name' | translate }} : {{UserFullName}}</label>
            </div>
            <div class="col-md-12">
              <label>{{ 'phone_number' | translate }} : {{PhoneNumber}}</label>
            </div>
            <div class="col-md-12">
              <label>{{ 'address' | translate }} : {{StreetName}}</label>
            </div>
          </div>
          <div class="col-md-12 upgradeContent">
            <div class="col-md-12">
              <label>{{ 'zip_code' | translate }} : {{PostalCode}}</label>
            </div>
            <div class="col-md-12">
              <label>{{ 'city' | translate }} : {{City}}</label>
            </div>
            <div class="col-md-12">
              <label>{{ 'country' | translate }} : {{Country}}</label>
            </div>
            <div class="col-md-12">
              <label>{{ 'pay_option' | translate }}</label><br />
              <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="paymentMethod"
                  value="PDF Invoice">{{ 'invoice_email' | translate }}</label>
              <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="paymentMethod"
                  value="Payment Slip">{{ 'payment_slip' | translate }}</label>
            </div>
          </div>
          <div class="col-md-12">
            <hr />
            <div class="checkbox">
              <label><input type="checkbox" [(ngModel)]="accepted" />
                <span [innerHTML]="'accept_term_message' | translate">I've read and agree to the Agricontrol policy and
                  license agreement</span></label>
            </div>
          </div>
          <div class="col-md-12 upgradeContentAction">
            <a class="btn btn-warning" (click)="modifyProfile()" [translate]="'want_to_modify'">No, I want to
              modify</a>&nbsp;
            <button class="btn btn-success" (click)="licenseRequest()" [disabled]="!accepted"
              [translate]="'buy_license'">Yes, I want to buy the
              license</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal thanksModel" tabindex="-1" role="dialog" id="warningPerioEndModelId"
  [ngStyle]="{'display':thanksModel}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="cultureContentId">
      <div class="popup-background warningPerioEndModelhead">
        <!-- <h4 class="pull-left">Thank you for your purchase!</h4> -->
        <button type="button" class="close" data-dismiss="modal" (click)="closeThanksModel()" aria-label="Close">
          <i-x></i-x>
        </button><br />
        <h4 [innerHTML]="'purchase_done' | translate">Thank you for your purchase! We'll send you an invoice in the next
          few days. If you have any questions, please don't hesitate to contact us under
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" role="dialog" tabindex="-1" id="warningPerioEndModelId"
  [ngStyle]="{'display':reportModel}">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" [translate]="'export_report_generated'">Exported Report Generated
        </h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center generatePopup">
          <a class="btn btn-success" (click)="closeReportModel()" target="_blank" [attr.href]="reportUrl"
            [translate]="'view'">View</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeReportModel()" data-dismiss="modal"
          [translate]="'close'">Close</button>
      </div>
    </div>
  </div>
</div>