@import "../../variables.component.scss";

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: $Whitecolor;
  box-shadow: 0 2px 5px transparentize(#000, 0.9);
  .headercontent {
    max-width: 1450px;
    width: 80vw;
    margin: 0px auto;
  }
  .navbar-header {
    .navbar-toggle {
      margin-top: 17px;
    }
    .navbar-brand {
      height: auto;
      padding: 4px 15px -1px;
      img {
        width: 35px;
        display: inline;
      }
      .logo_text {
        font-size: 24px;
        color: $primary-color;
        font-weight: 700;
        padding-left: 10px;
        line-height: 1.5;
      }
    }
  }

  .navbar-nav {
    .main-li {
      padding: 16px 12px;
      color: $primary-color;
      font-size: 20px;
      font-weight: $semiboldFontWeight;
      line-height: 1.1;
      a {
        padding-bottom: 0;
        padding-top: 0;
        padding: 4px 12px;
        color: $primary-color;
        font-size: 20px;
        font-weight: $semiboldFontWeight;
        line-height: 1.1;
        background: #fff;

        &.active {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
        &.open {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
        &:hover {
          background: transparent;
          border-top: 0px solid #ff6c00;
          color: #48a4bf;
        }
      }
      &.active {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &.open {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &:hover {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
    }
    .dropdown-li {
      padding: 4px 12px;
      color: $primary-color;
      font-size: 20px;
      font-weight: $semiboldFontWeight;
      line-height: 1.1;
      img {
        width: 30px;
      }
      a {
        line-height: 1.1;
      }
      &.active {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &.open {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }
      &:hover {
        background: transparent;
        border-top: 0px solid #ff6c00;
        color: #48a4bf;
      }

      .dropdown-menu {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        li {
          line-height: 1.1;
          a {
            color: $primary-color;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            font-size: 20px;
            line-height: 1.1;
            &.active {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
            }
            &.open {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
            }
            &:hover {
              border-top: 0px solid #ff6c00;
              color: #48a4bf;
              background-color: #ddd;
            }
          }
          &.active {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
          &.open {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
          &:hover {
            background: transparent;
            border-top: 0px solid #ff6c00;
            color: #48a4bf;
          }
        }
      }
    }
  }
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .panel {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    .panel-heading {
      color: #333;
      border-radius: 0px;
      padding: 0;
      border: 0;
      background-color: #fff;

      .panel-title {
        a {
          display: block;
          padding: 15px;
          color: $primary-color;
          font-size: $defaultFontSize;
          font-weight: $boldFontWeight;
          text-decoration: none;
          line-height: 1.5;
          .exportHeadings {
            margin-left: 15px;
            font-size: 20px;
          }
          &:active {
            display: block;
            padding: 15px;
            color: $primary-color;
            font-size: $defaultFontSize;
            font-weight: $boldFontWeight;
            text-decoration: none;
          }
          &:before {
            content: url("https://api.iconify.design/feather:chevron-up.svg?height=24");
            vertical-align: -0.45em;
            transition: all 0.5s;
          }
          &.collapsed:before {
            content: url("https://api.iconify.design/feather:chevron-down.svg?height=24");
            vertical-align: -0.45em;
            transition: all 0.5s;
          }
        }
      }

      &.active {
        a::before {
          user-select: none;
          transform: rotate(180deg);
        }
      }
    }

    .panel-collapse {
      .panel-body {
        margin-top: 5px;
        color: $secondary-color;
        font-size: $smallFontSize;
        font-weight: $semiboldFontWeight;
        line-height: 1.5;
        padding-top: 0px;
        border: none;

        .exportSubHeadings {
          font-size: 16px;
          font-weight: 600;
          padding: 15px;
          border-bottom: 1px solid #ddd;
          color:#606060;
        }

        .fieldDiv {
          max-height: 135px;
          height: auto;
          overflow-y: auto;
        }

        .exportDiv {
          max-height: 361px;
          height: auto;
          overflow-y: auto;
        }

        .exportItems {
          font-size: 16px;
          font-weight: 600;
          padding: 10px 5px;
          .col-md-1,
          .col-md-4,
          .col-md-5 {
            padding: 0px 3px;
          }
        }

        .warningiconWrapper {
          .warningicon {
            width: 18px;
            height: 16px;
            color: #000;
            cursor: pointer;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .modal-content {
    border-radius: 0px;
    color: #848181;

    .modal-body {
      padding: 15px 0.5em;

      .btn-graphic {
        height: 40px;
        border-radius: 20px;
        line-height: 1.5;
        padding: 6px 8px;
      }
      .btn-tabular {
        height: 40px;
        border-radius: 20px;
        line-height: 1.5;
        margin-right: 3%;
        padding: 6px 8px;
      }

      .error {
        font-size: 14px;
        color: #dc3545;
        line-height: 1.5;
      }
    }

    .date-from {
      width: 50%;
      padding: 0 10px 0 0;
      line-height: 1.5;
    }

    .date-to {
      width: 50%;
      padding: 0 0px 0 10px;
      line-height: 1.5;
    }

    .date-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .form-group {
      margin-bottom: 9px;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 38px;
      padding: 10px 15px;
      font-size: $smallFontSize;
      line-height: 1.42857143;
      color: #808080;
      background-color: #e6e6e6;
      background-image: none;
      border: 1px solid #e6e6e6;
      border-radius: 20px;
      line-height: 1.5;
      user-select: none;
      box-shadow: none;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:hover,
      &:focus {
        color: #000;
        background: #dbd9d9;
      }

      label {
        margin-left: 4px;
        line-height: 1.5;
      }
    }
  }

  .bor-btm {
    border-bottom: 1px solid #ddd;
  }

  .popupdatepicker {
    padding: 2px 15px;
    display: block;
    width: 100%;
    height: 38px;
    font-size: $smallFontSize;
    color: #808080;
    background-color: #e6e6e6;
    background-image: none;
    border: 1px solid #e6e6e6;
    line-height: 1.5;
    border-radius: 20px;
    user-select: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:hover {
      color: #000;
      background: #dbd9d9;
    }

    &:focus {
      color: #000;
      background: #dbd9d9;
    }
    .ngx-datepicker-container {
      .ngx-datepicker-input {
        background-color: inherit;
        border: none;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .headercontent {
    width: 100%;
  }
  .modal .panel .panel-heading .panel-title a .exportHeadings {
    margin-left: 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .navbar.navbar-default .headercontent {
    width: 92vw;
    margin: 0px 3em;
  }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .navbar.navbar-default .navbar-nav .dropdown-li .dropdown-menu {
    position: relative;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
}

@media only screen and (max-width: 1089px) and (min-width: 992px) {
  .navbar.navbar-default .headercontent {
    max-width: 1450px;
    width: 99vw;
    margin: 0px auto;
  }
}

.exportTitleText{
  margin-top: -22px;
  margin-left: 27px;
}

@media only screen and (max-width: 950px) and (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar.navbar-default .navbar-nav .dropdown-li .dropdown-menu {
    position: relative;
    width: 100%;
  }
}

.upgradeText {
  color: #73b680 !important;
}
.upgradeBtn {
  color: #fff !important;
}

.upgradeContent div {
  text-align: left;
}
.upgradeContentAction {
  text-align: center;
}
.upgradeContent label {
  color: #3a3939;
}

.warningPerioEndModelhead {
  background-color: #6dca6d;
  height: auto;
  border-bottom: 0px;
  padding: 25px;
  text-align: center;
  h4 {
    color: #fff;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    font-weight: 600;
    line-height: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ngx-datepicker-container .ngx-datepicker-input {
    width: 100% !important;
  }

  .mobile-pad {
    padding: 0px 15px;
  }
  .ui-datepicker {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -10em !important;
    margin-left: -9em !important;
  }
}

.upgradeBtn {
  background-color: #68c168;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  padding: 7px 26px;
  border: 1px solid #68c168;
  line-height: 21px;
}

.generatePopup a {
  margin: 0px 25px;
  font-size: 25px;
  width: 150px;
}

.input-min-width-95p {
  min-width:100%;
  -webkit-appearance: none;
  line-height:normal;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  min-width: 100%;
  -webkit-appearance: none;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  height: 42px;
  border-radius: 25px;
  padding: 1em;
}

.btn-export-mobile {
  height: 40px;
  border-radius: 20px;
  line-height: 1.5;
  padding:6px 8px;
}

select{
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}