<div class="col-md-12 text-center login-icon">
    <a routerLink="/">
      <img src="assets/images/login_icon.png"  class="img-responsive login-icon-img" alt="website logo">
    </a>
</div>

<div class="col-md-offset-3 col-md-6">
  <div class="mid-section col-md-12" style="min-height: 330px;">
    <!-- <img src="assets/images/forgot-password-1x.png" srcset="assets/images/forgot-password-1x.png 1x, assets/images/forgot-password-2x.png 2x" alt="image of a lock and key" class="img-responsive customImgCls"> -->

    <h2 class="pagegtitle" [translate]="'forgot_password_head'">Passwort vergessen?</h2>
    <p [translate]="'forgot_password_title'">Nicht verzagen, alles ist in Butter! Lasst uns ein neues Passwort definieren!</p>
    <div class="error-message alert alert-danger" *ngIf="isError">
        {{errorMessage}}
    </div>
    <div class="error-message alert alert-success" *ngIf="isSuccess" >
      {{successMessage}}
    </div>
    <div class="col-md-12">
      <form [formGroup]="forgotForm">
        <div [ngClass]="(isErrorCheck && forgotForm.controls.email.errors && forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)) ? 'mb-3' : 'mb-23' ">
          <input (blur)="ValidationError()" (input)="ValidationErrorCheck()" type="text" class="form-control" placeholder="{{'forgot_input_placeholder' | translate}}" formControlName="email" maxlength="50" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <div *ngIf="isErrorCheck">
        <div *ngIf="forgotForm.controls.email.errors && forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)" class="error">
          <span *ngIf="forgotForm.controls.email.errors.required" [translate]="'required_email'">Email is required</span>
          <span *ngIf="forgotForm.controls.email.errors.maxlength" [translate]="'maxlength_email'">Email must be less than 50 characters</span>
          <span *ngIf="forgotForm.controls.email.errors.pattern" [translate]="'incorrect_email'">Email should be valid email address</span>
        </div>
        </div>    
        <input type="button" name="submit" class="btn btn-info btn-block btn-reset" value="{{'reset_password' | translate}}" [ngStyle]="{ 'cursor' : (!forgotForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!forgotForm.valid" (click)="submitForgot()"/>    
      </form>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>