<div class="pageHead col-md-12">
    <h2 class="page-title mobile_center" [translate]="'crop_setting'">Crop Setting</h2>
    <hr class="faq">
</div>

<div class="contentSection col-sm-12 col-xs-12">
    <div class="wrapper center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default text-center" *ngIf="allCrops$?.length == 0" style="padding: 15px;">
                <h2 [translate]="'No Culture Added'">No Culture Added</h2>
            </div>
            <div class="panel panel-default" *ngFor="let cropFamily of allCrops$; let index = index;">
                <div class="panel-heading" role="tab" [attr.id]="'heading'+cropFamily.crop_family_id">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" [attr.data-parent]="'#accordion'"
                            [attr.href]="'#collapse'+cropFamily.crop_family_id" aria-expanded="false"
                            [attr.aria-controls]="'collapse'+cropFamily.crop_family_id">
                            {{cropFamily.crop_family_name}}
                        </a>
                    </h4>
                </div>
                <div [attr.id]="'collapse'+cropFamily.crop_family_id" class="panel-collapse collapse"
                    [ngClass]="(index == 0) ? 'in':'' " role="tabpanel"
                    [attr.aria-labelledby]="'heading'+cropFamily.crop_family_id">
                    <div class="panel-body ">
                        <table class="table">
                            <tr *ngFor="let crop of cropFamily.crops">
                                <td class="cropname">{{crop.crop_name}}</td>
                                <td class="text-right">
                                    <input [(colorPicker)]="crop.color" [cpPosition]="'left'"
                                        (colorPickerClose)="colorChanged($event, crop.crop_id)"
                                        [style.background]="crop.color" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>