@import "../variables.component.scss";

.pageHead{
    margin-top: 3em;

    .page-title {
        font-size: $headingFontSize;
        font-weight: $boldFontWeight;
        color: $primary-color;
        line-height: 1.1;
    }

    .faq {
        margin-top: 15px;
        margin-bottom: 15px;
        border: 0;
        border-top: 1px solid #aed9e8;
    }
}

.contentSection{
    margin-top: 1em;

    .panel {
        border-radius: 0px ;
        margin-bottom: 15px ;
        border: none ;

        .panel-heading {
            background-color: #dbecf3;
            border-color: #dbecf3;
            border-radius: 0px;
            padding: 0;
            border: 0;

            .panel-title {
                a {
                    display: block;
                    padding: 15px;
                    color: $primary-color;
                    font-size: $defaultFontSize;
                    font-weight: $boldFontWeight;
                    text-decoration: none;
                    line-height: 1.5;
                    &:active {
                      display: block;
                      padding: 15px;
                      color: $primary-color;
                      font-size: $defaultFontSize;
                      font-weight: $boldFontWeight;
                      text-decoration: none;
                    }

                    &:before {
                        font-family: 'Glyphicons Halflings';
                        content: "\e114";
                        float: right;
                        transition: all 0.5s;
                    }
                }
            }

            &.active{
                a:before {
                    // -webkit-transform: rotate(180deg);
                    user-select: none;
                    -moz-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
        
        .panel-collapse{
            .panel-body {
                margin-top: 5px;
                border: 1px solid #ddd;
                color: $secondary-color;
                font-size: $smallFontSize;
                line-height: 23px;
                font-weight: $semiboldFontWeight;
                padding: 5px 0px 0px 0px;
                line-height: 1.5;

                table {
                    margin-bottom: 0px ;
                    
                    tr {
                        border-bottom: 1px solid #ccc;
                        td {
                            border-top: 0px;
                        }
                        .cropname {
                            font-size: $smallFontSize;
                            font-weight: $boldFontWeight;
                            color: $secondary-color;
                            line-height: 1.5;
                        }
                        input {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}
  
@media only screen and (max-width: 1024px) {
    .mobile_center {
        text-align: center;
     }
     .pageHead{
         margin-top: 6em;
     }
}  
  