<app-adminheader></app-adminheader>
<div class="container-fluid overview-section">
    <div class="col-md-12 col-sm-12 col-xs-12">
    
    <div class="col-sm-3 col-md-3 col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Language List
        <a href="javascript:void(0)" title="Add" (click)="openaddLanguage()" class="btn btn-info pull-right"
          style="margin-top:-5px;">
          Add New
        </a>
      </div>

      <div class="panel-body">
        <div class="error-message alert alert-danger" *ngIf="isError" [ngClass] ="FadeOutLink()">
          {{errorMessage}}
        </div>
        <div class="error-message alert alert-success" *ngIf="isSuccess" [ngClass] ="FadeOutLink()">
          {{successMessage}}
        </div>
        <div class="table-responsive tablecls">
          <div class="col-md-3 pull-right">
          </div>
          <table class="table" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="25">
            <thead>
              <th>
                <mfDefaultSorter by="name">Language Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="symbol">Symbol</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="name">Action</mfDefaultSorter>
              </th>
            </thead>
            <tbody *ngIf="mf.data.length > 0">
              <tr class="bor-btm" *ngFor="let lan of mf.data">
                <td>{{ lan.name }}</td>
                <td>{{ lan.symbol }}</td>
                <td style="padding-right: 0px;">
                  <a href="javascript:void(0)" title="Edit" (click)="editLanguage(lan.ac_languageId)"
                    class="btn btn-info waves-effect icon-wrapper">
                    <i-edit class="icon"></i-edit>
                  </a>
                  <a  title="Publish" (click)="languageActivation(lan.ac_languageId,lan.name)"
                    class="btn btn-info icon-btn" style="padding: 4px 4px;">
                    {{lan.is_publish == 1 ? 'Deactivate' : 'Publish' }}
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="mf.data.length == 0">
              <tr>
                <td colspan="4">No data found</td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-9 col-md-9 col-xs-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Language Key Manage
        </div>
        <div class="panel-body">
          
          <div id="exTab1" >
            <div class="tab-content clearfix">
              <div class="tab-pane active">  
                <form id="searchForm" [formGroup]="searchForm">
                  <div class="col-md-12">
                    
                    <div class="error-message alert alert-danger col-md-9 customalert" *ngIf="error">
                      {{errorMsg}}
                    </div>
                    <div class="error-message alert alert-success col-md-9 customalert" *ngIf="success" [ngClass] ="FadeOutLink()">
                      {{successMsg}}
                    </div>
                    <div *ngIf="updateButton" class="col-md-2 pull-right">
                      <input style="margin-top:33%;" type="button" class="btn btn-success btn-block save-button" value="Update" (click)="updateLanguageFileData()"/>
                    </div>
          
                  </div>
                  <div class="col-md-12" style="margin-top:2%;">
                      <div class="row">
                          <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
                              <input style="border-radius: 25px;margin-bottom: 10px;" type="text" class="form-control" (keyup)='search($event.target.value)' placeholder="search...">
                          </div> 
                      </div>  
                      <div id="table" class="table-editable" style="overflow-y: scroll;max-height:450px;max-width: 100%;" >
                        <table class="table" style="color:#000000;" >
                            <thead >
                            <tr>
                              <th>Name</th>
                              <th *ngFor="let language of allLanguages$" >{{ language.name }}</th>
                            </tr>
                            </thead>
                            <tbody > 
                              <tr *ngFor="let data of jsonData">
                                  <td style="max-width:8px;word-wrap:break-word;">{{data.key}}</td>
                                  <td style="max-width:30px;word-wrap:break-word;" contenteditable="true" *ngFor="let x of data.value;let i = index" (blur)="UpdateDataArray(newData,x,data.key,allLanguages$[i].symbol)" #newData id="data.key" >{{x}}</td>
                              </tr>
                              
                            </tbody>
                        </table>
                      </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<app-alert></app-alert>
<app-footer></app-footer>
<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>

<!-- Modal -->
<div class="modal" id="" tabindex="-1" role="dialog" [ngStyle]="{'display':languageModal}"
  (click)="closemodal('Language')">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="">
      <div class="modal-header popup-background">
        <button type="button" class="close" data-dismiss="modal" (click)="closeLanguageModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title crop-title">Edit Detail</h4>
      </div>
      <div class="error-message alert alert-danger" *ngIf="isModalError">
        {{modalErrorMessage}}
      </div>
      <div class="modal-body cropmodalbody">
        <form [formGroup]="languageForm">
          <div class="form-group">
            <label class="pl-15">Language Name</label>
            <input type="text" class="form-control" formControlName="name" maxlength="100">
            <div
              *ngIf="languageForm.controls.name.errors && languageForm.controls['name'].invalid && (languageForm.controls['name'].dirty || languageForm.controls['name'].touched)"
              class="error">
              <span *ngIf="languageForm.controls.name.errors.required">Language name is required</span>
              <span *ngIf="languageForm.controls.name.errors.maxlength">Name should have maximum 50 characters</span>
            </div>
          </div>
          
          <input type="hidden" formControlName="langId" />
        </form>
      </div>
      <div class="modal-footer new-footer">
        <button type="button" class="btn btn-info btn-save pull-right"
          [ngStyle]="{ 'cursor' : (!languageForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!languageForm.valid"
          (click)="updateLanguage()">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="" tabindex="-1" role="dialog" [ngStyle]="{'display':addLangModal}"
  (click)="closemodal('language')">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="">
      <div class="modal-header popup-background">
        <button type="button" class="close" data-dismiss="modal" (click)="closeaddLangModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title crop-title">Add New Language
          </h4>
      </div>
      <div class="error-message alert alert-danger" *ngIf="isModalError">
        {{modalErrorMessage}}
      </div>
      <div class="modal-body cropmodalbody">
        <form [formGroup]="languageForm">
          <div class="form-group">
            <label class="pl-15">Language Name</label>
            <input type="text" class="form-control" formControlName="name" maxlength="100">
            <div
              *ngIf="languageForm.controls.name.errors && languageForm.controls['name'].invalid && (languageForm.controls['name'].dirty || languageForm.controls['name'].touched)"
              class="error">
              <span *ngIf="languageForm.controls.name.errors.required">Language name is required
                </span>
              <span *ngIf="languageForm.controls.name.errors.maxlength">Name should have maximum 50 characters
                </span>
            </div>
          </div>
          
          <div class="form-group">
            <label class="pl-15">Symbol</label>
            <input type="text" class="form-control" formControlName="symbol" maxlength="100">
            <div
              *ngIf="languageForm.controls.symbol.errors && languageForm.controls['symbol'].invalid && (languageForm.controls['symbol'].dirty || languageForm.controls['symbol'].touched)"
              class="error">
              <span *ngIf="languageForm.controls.symbol.errors.required">Language symbol is required
                </span>
              <span *ngIf="languageForm.controls.symbol.errors.maxlength">Symbol should have maximum 3 characters
                </span>
            </div>
          </div>
          <input type="hidden" value="new" formControlName="langId" />
        </form>
      </div>
      <div class="modal-footer new-footer">
        <button type="button" class="btn btn-info btn-save pull-right"
          [ngStyle]="{ 'cursor' : (!languageForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!languageForm.valid"
          (click)="addLanguage()">Save</button>
      </div>
    </div>
  </div>
</div> 