@import "../../variables.component.scss";

.footerdiv{
    margin-bottom: 10em;
    margin-top: 2em;
    p {
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        color: $primary-color;
        text-align: center;
        margin: 0;
        line-height: 1.3em;
    }
}