<app-adminheader></app-adminheader>
<div class="container mar-top6em">
  <h2 class="page-title">All Users</h2>
  <hr class="faq">
</div>

<div class="container mar-top1em">
    <div class="wrapper center-block">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    All Users List
                  </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body ">
                        <table class="table">
                          <thead>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">No. of Fields</th>
                            <th class="text-center">Current Reporting Year</th>
                            <th class="text-center">Subscription</th>
                            <th class="text-center">Verified</th>
                          </thead>
                          <tbody>
                            <tr class="bor-btm text-center" *ngFor="let user of allUsers$">
                              <td>{{user.name}}</td>
                              <td>{{user.email}}</td>
                              <td>{{user.no_of_fields}}</td>
                              <td>{{user.current_reporting_from_date}} - {{user.current_reporting_to_date}}</td>
                              <td>{{user.subscription_name}}</td>
                              <td>{{ user.is_verified == 1 ? 'yes' : 'No' }}</td>
                            </tr>     
                          </tbody>                                                   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
