<div class="text-center logo_header"> 
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="website logo" class="img-responsive logosection">
  </a>  
</div>
  
<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="col-md-offset-3 col-md-6 confirmsection">
    <div *ngIf="tokenSuccess">
      <span [translate]="'email_confirmed_success'">Your Email Address is Confirmed Succesfully.</span>
    </div>
    <div *ngIf="invalidConfirm" class="serverError">
      <span *ngFor="let error of serverError$;"><p>{{ error }}</p></span>
    </div>         
  </div>
</div>
  