@import "../variables.component.scss";
.logo_header {
    background: $Whitecolor;
    border-radius: 50%;
    width: 8%;
    margin: 0px auto;
    padding: 24px;
    height: 10%;
    position: relative;
    z-index: 9999;
    margin-top: 4em;
    a {
        text-decoration: none;
        .logosection {
            margin: 0px auto;
            display: inline;
            width: 35px;
        }
        span {
            font-size: 31px;
            color: $primary-color;
            font-weight: 700;
            padding-left: 10px;
        }
    }   
}

.confirmsection{
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    margin-top: -1.5em;
    background: $Whitecolor;
    padding: 1em 2em 2em;
    line-height: 1.5;

    p{
        font-size: $defaultFontSize;
        font-weight: $semiboldFontWeight;
        color: $primary-color;
        line-height: 1.5;
    }
}


@media only screen and (max-width: 800px) {

    .logo_header {
       background: #fff;
       border-radius: 50%;
       width: 19%;
       margin: 0px auto;
       padding: 12px;
       height: 29%;
       position: relative;
       z-index: 9999;
       margin-top: 4em;
   }
   .loginsection {
       margin-top: -2em;
     }
   }
   
   @media only screen and (min-width:300px) and (max-width: 460px)  {
       .logo_header {
           background: #fff;
           border-radius: 50%;
           width: 14%;
           margin: 0px auto;
           padding:15px;
           height: 29%;
           position: relative;
           z-index: 9999;
           margin-top: 4em;
       }
       .loginsection {
           margin-top: -2em;
         }
   }
   
   @media only screen and (min-width:461px) and (max-width: 991px) {
   
       .logo_header {
          background: #fff;
          border-radius: 50%;
          width: 11%;
          margin: 0px auto;
          padding: 22px;
          height: 29%;
          position: relative;
          z-index: 9999;
          margin-top: 4em;
      }
      .loginsection {
          margin-top: -2em;
       }
   }
