@import "../variables.component.scss";
.overview-section{
    margin-top: 8em;
    padding: 0px;

    .panel{

        .panel-body{
            .mar-bottom1em {
                margin-bottom: 1.3em;
            }

            .pad-0 {
                padding: 0px ;
            }

            .field-section {
                padding: 15px;
                box-shadow: 2px 2px 4px #dedede;
                border: 1px solid #dedede;
                .field-name {
                    display: inline;
                    font-size: $defaultFontSize;
                    color: $primary-color;
                    font-weight: $boldFontWeight;
                    line-height: 1.1;
                }
                
                .field-graph {
                    margin-top: 10px;
                }
                
                .chart-section {
                    background: #efefef;
                    width:100%;
                    margin-top: 1em;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: flex-start;
    
                    .field-monthClass {
                        position: absolute;
                        z-index: 9;
                        top: -25%;
                        font-size: $smallFontSize;
                        color: $primary-color;
                        line-height: 1.5;
                    }
    
                    .chart-culture-section {
                        position: relative;
                        height: 100%;
                        .monthPointer{
                            position: absolute;
                            z-index: 9999;
                            background-color: #000;
                            top: 95%;
                            height: 9px;
                            width: 1px;
                            border-color: #000 ;
                        }
    
                        
                        .chart-split-section {
                            width:100%;
                            height: 20px;
                            position: relative;
                            text-align: center;
                        }                   
                    }
                }
               
            }

            .fieldSize{
                font-weight: normal;
            }

            .border-left{
                border-left: 1px solid #ddd ;
            } 

            .warningiconWrapper{
                position: absolute;
                top: -11%;
                z-index: 9;
            }            
        }
    }

    .padd-25{
        padding: 25px;
        color: #777777;
    }

    .font-20{
        font-size: 20px;
    }

    .warningicon{
        width: 18px;
        height: 16px;
        color: #000;
        cursor: pointer;
        vertical-align: middle;
    }
}